{% extends "!layout.html" %}

{% set script_files = ['_static/runestonebase.js'] + script_files + [
    '_static'+'/jquery-ui-1.10.3.custom.min.js',
    '_static'+'/jquery-fix.js',
    '_static'+'/waypoints.min.js',
    '_static'+'/rangy-core.js',
    '_static'+'/rangy-textrange.js',
    '_static'+'/rangy-cssclassapplier.js',
    '_static'+'/user-highlights.js',
    '_static'+'/jquery.idle-timer.js',
    '_static'+'/processing-1.4.1.min.js',
    '_static'+'/jquery.hotkey.js',
    '_static'+'/jquery-migrate-1.2.1.min.js'
  ]
%}

{%- block extrahead %}

<script type="text/javascript">
  eBookConfig = {};
  eBookConfig.host = '{{course_url}}' ? '{{course_url}}' : 'http://127.0.0.1:8000';
/*
  eBookConfig.app = eBookConfig.host+'/{{appname}}';
  eBookConfig.ajaxURL = eBookConfig.app+'/ajax/';
  eBookConfig.course = '{{course_id}}';
  eBookConfig.logLevel = {{loglevel}};
  eBookConfig.loginRequired = {{login_required}};
  eBookConfig.build_info = "{{build_info}}";
  eBookConfig.isLoggedIn = false;
  eBookConfig.useRunestoneServices = {{ use_services }};
  eBookConfig.python3 = {{ python3 }};
  eBookConfig.basecourse = '{{ basecourse }}';
  eBookConfig.runestone_version = '{{ runestone_version }}';
*/
</script>
<script type="application/json" class="js-hypothesis-config">
{
"showHighlights": false
}
</script>
<script async src="https://hypothes.is/embed.js"></script>
{% endblock %}

{% block footer %}
{{super}}
<script type="text/javascript">
  $(document).trigger("runestone:login-complete");
</script>
{% endblock %}
